body{
    background-color: #ffff;
}
.navbars{
    padding: 0;
}
.dropdown-item-size{
    font-size: 0.7rem;
}
.farotate{
    transform: rotate(90deg);
}
.navbar-brands{
    margin-right: 20%;
}
.sec-nav-btn{
    margin: auto 10px auto 10px;
}
.magnifying{
    margin: auto 10px auto 0;
}
.sec-nav-ul{
    margin-right: 0;
}
.container-fluid-sec{
    padding-right: 0;
}
.carousel-w{
    width: 100%;
    height: 200px;
}
.dropdown-button{
    margin: 50px ;
}
.card-container{
    margin: 2%;
}